# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Environments
.env
.venv/
env/
venv/
ENV/
*.env
*.env.*

# IDE
.vscode/
.idea/

# MacOS
.DS_Store

# Logs
*.log

# Ignore Node.js dependencies
node_modules/
 
# Ignore Playwright-specific files
# Note: Playwright downloads browsers into a default location
# that should be ignored by Git.
.cache/
 
# Log files and other temporary files
npm-debug.log
npm-error.log